.container {
    width: 700px;
    background-color: #f5f2f2;
    border: 1px solid #d0cdcd;
    margin: 70px auto;
    box-shadow: 0px 7px 7px -5px rgba(61,59,61,1);
}

.container h1 {
    font-family: "Century Gothic", sans-serif;
    border-bottom: 1px solid #1f1f1f;
    padding-bottom: 10px;
}

.container h2 {
    font-family: "Century Gothic", sans-serif;
}

.container p {
    font-family: "Century Gothic", sans-serif;
    margin: 4px;
}

#delivery-info {
    text-align: left;
    margin-bottom: 20px;
}

#name {
    font-weight: bold;
}

#btns {
    display: flex;
    flex-direction: row;
    font-family: "Century Gothic", sans-serif;
}

#btns input {
    background-color: rgba(197, 191, 191, 0.7);
    border: none;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #9f9999;
    font-size: 16px;
    color: #2e697a;
    margin: 10px;
    box-shadow: 0px 4px 7px -5px rgba(61,59,61,1);
}

#btns input:hover {
    cursor: pointer;
    transition: .2s ease-in;
    transform: scale(1.05);
}